*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: #e9f08e;
background-attachment: fixed;
background-size: cover;
font-family: 'Libre Baskerville', serif;
font-size: 150%;
/*margin-left: 2%;
margin-right: 2%;*/
}
.header {
  overflow: hidden;
  padding: 20px;
  background-color: white;
  margin: 0;
}

.header .logo{
  font-size: 150%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
 /* font-size: 150%;*/
  line-height: 25px;
  border-radius: 4px;
}

.header .header-right a:hover {
  background-color:rgb(255, 230, 0); 
  color: black;
}

.header-right {
  float: right;
  /*font-size: 80%;*/
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


.head, .pa{
    font-weight: 600;
    color: black;
    font-size: 200%;
    margin: 2%;
}

main{
    padding-left: 3%;
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 2%;
    margin: 0% 2%;
    background-color: white;
    border-radius: 6px;
}
form{
    padding-right: 2%;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea{
    width: 100%;
    padding: 1%;
}

input[type="submit"]{
   background-color: rgb(255, 230, 0);
   padding: 12px 20px;
   font-weight: bold;
   font-size: larger;
   width: auto;
   border: none;
   border-radius: 2px;
   color: white;
   cursor: pointer;
}

input[type="submit"]:hover{
    background-color: black;
}

.logo
{
   text-align: center;
}

footer{
    background-color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0% 2%;
    margin-bottom: 2%;
    border-radius: 6px;
  }
  
  footer a {
    text-decoration: none;
    padding-left: 5%;
    color: black;
  }
  
  .follow {
    padding-right: 5%;
    font-size: 150%;
  }
  
  .qoutes{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 2%;
  }
  
  .love{
    margin-top: 2%;;
    margin-bottom: 0cm;
  }
  
  .copyright{
    text-decoration: none;
  }
  
  footer a:hover{
    color: rgb(255, 230, 0);
    cursor: pointer;
  }
